---
pageTitle: Not found
title: Not found
twitterAuthor: nebaframework
description: Document gone
permalink: /404.html
---
<!DOCTYPE HTML>
<html lang="en">
{% include head.ext %}
<body>
{% include header.ext %}
<!-- Main -->
<div id="main">
    <div class="container">
        <!-- Content -->
        <div id="content">

            <section>
                <header><h2 id="about_neba">Sorry, what you are looking for is no longer here.</h2></header>
                <p>
                    If you are looking for the NEBA user guide, or architecture documentation or API docs, <a href="/documentation.html">they have moved here</a>.
                </p>
            </section>
        </div>
    </div>
</div>
<!-- /Main -->

{% include footer.ext %}
</body>
</html>