---
title: About NEBA
twitterAuthor: nebaframework
description: About NEBA's origin, License model, Community and Philosophy.
---
<!doctype html>
<html lang="en-US">
{% include head.ext %}

<body class="about">

{% include navigation.ext %}

<main>
    <section>
        <header>
            <h1>About NEBA</h1>
        </header>
        <p>
            NEBA is a lightweight and fast content-to-model mapping solution for Apache Sling and Adobe AEM&trade;, created by <a href="https://www.unic.com">Unic AG</a>, Switzerland. Since its initial creation in 2009, it has been made available
            as open source under the Apache License 2.0. It is free of charge for both noncommercial and commercial use.
        </p>

        <nav title="Contents of 'About'" >
            <section>
                <header>
                    <h2>Contents</h2>
                </header>
                <ul>
                    <li><a href="#philosophy">Philisophy</a></li>
                    <li><a href="#license">License</a></li>
                    <li><a href="#technology">Technology</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#roadmap">Roadmap</a></li>
                    <li><a href="#contributing">Contributing</a></li>
                </ul>
            </section>
        </nav>
        <section>
            <header><h2 id="philosophy">NEBA's philisophy</h2></header>
            <p>
                Key to successful Content Management Applications is a fast and comprehensible implementation of the underlying information architecture and the solution's ability to scale. As the solution matures, it must be able to bear the challenges that arise from an increasing amount of complexity and integrated systems - without degradation in terms of system quality or time spent developing solutions.
            </p>
            <p>
                NEBA increases your engineers speed and ability to tackle these challenges, giving them a simple, lightweight and stable API to implement solutions based on Apache Sling or Adobe AEM&trade;. Instead of coupling engineers to custom and hard-to learn solutions, NEBA integrates well-known standards.
            </p>
            <p>
                At the same time, NEBA is designed to scale in demanding environments, where high request volumes meet significant amounts of content. In addition, it ships with tooling that helps engineering understand application behavior and analyze issues quickly.
            </p>
        </section>

        <section>
            <header><h2 id="license">License</h2></header>
            <p>
                The License model is simple: NEBA is released under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache Software License 2.0</a>. It is
                completely and irrevocably open source and free of charge.
            </p>
        </section>

        <section>
            <header><h2 id="technology">NEBA's technology in a Nutshell</h2></header>

            <p>
                NEBA integrates the <a href="https://www.spring.io">Spring Framework</a> into
                <a href="https://sling.apache.org">Apache Sling</a> exclusively using
                <a href="https://www.eclipse.org/gemini/blueprint/">Gemini-Blueprint</a>, the reference
                implementation of the OSGi blueprint specification. NEBA provides simple annotations that allow leveraging Spring POJOs as models for resources such
                as JCR content - and transparently provides a set of solutions for common engineering tasks for Spring-Based applications.
            </p>
            <p>
                NEBA does not alter or influence the default behavior of Sling or AEM&trade; and can be transparently used from within any out of the box solution, such as Sling servlets.
            </p>
            <a href="https://sling.apache.org/"><img src="assets/images/sling-logo.png" alt="Apache Sling logo"/></a>
            <a href="https://projects.spring.io/spring-framework/"><img src="assets/images/spring-framework-logo.png" alt="Spring Framework Logo"/></a>
            <a href="https://www.eclipse.org/gemini/blueprint/"><img src="assets/images/gemini-logo.png" alt="Gemini Blueprint Logo"/></a>
        </section>
    </section>

    <section class="up-to-two-columns">
        <header>
            <h2 id="support">Support</h2>
        </header>
        <section>
            <header><h3>Community support</h3></header>
            <p>
                There are a great number of options to quickly have your questions answered: Start a discussion in the comment section of a suitable page,
                <a href="https://github.com/unic/neba/issues">file an issue</a>, ask a question on <a href="http://stackoverflow.com">Stack overflow</a>, <a href="https://twitter.com/nebaframework">Tweet to @nebaframework</a> - or simply
                drop us a mail at <a href="mailto:neba@unic.com">neba@unic.com</a>.
            </p>
        </section>
        <section>
            <header><h3>Professional support</h3></header>
            <p>
                We're glad to help out: Feel free to contact us at:
            </p>
            <p>
                <strong>Unic AG</strong><br />
                Belpstrasse 48, 3007 Bern, Switzerland<br />
                <strong>Telephone</strong>: +41 31 560 12 12<br />
                <strong>Fax</strong>: +41 31 560 12 13
            </p>
        </section>

    </section>

    <section class="up-to-two-columns">
        <header>
            <h2 id="roadmap">Roadmap</h2>
            <p>NEBA is continuously kept up-to-date and extended with regard to the latest available AEM versions. All item currently on the roadmap can be found in the <a href="https://github.com/unic/neba/milestone/7">roadmap milestone</a> on Github.</p>
        </header>
            <section>
                <header><h3>Update to Java 9+</h3></header>
                <p>
                    With the latest java version, many updates - most notably a new module system - are available. Once available for Apache Sling, NEBA will support these java versions and will
                    enable making the most out of new features of the java versions.
                </p>
            </section>
            <section>
                <header><h3>Continuation of the flyweight approach</h3></header>
                <p>
                    With version 5.0, NEBA switched from a mandatory integration with the Spring Framework to a lightweight kernel with an optional Spring integration.
                    As more and more advanced features are available in Apache Sling and Adobe AEM&trade; out of the box,
                    additional frameworks such as Spring become less and less necessary. Here, NEBA will continue to pursue a <em>flyweight</em> approach - being a simple and high-performance addition
                    to Apache Sling and  Adobe AEM&trade;

                </p>
            </section>
        </section>

        <section class="up-to-two-columns">
            <header><h2 id="contributing">Contributing</h2></header>

            <section>
                <header><h3>Features, bugs and other issues</h3></header>
                <p>NEBA welcomes contribution of any form at any time. If want to report a bug,
                    request a feature or change, just <a href="https://github.com/unic/neba/issues">create an issue</a> - a responsible
                    committer will get to it.</p>
            </section>
            <section>
                <header><h3>Contributing source code</h3></header>
                <p>
                    If you would like to contribute code, we're looking forward to your <a href="https://github.com/unic/neba/pulls">pull request</a>.
                    Note: The <a href="https://github.com/unic/neba/tree/develop">primary development branch is "develop"</a> (we use <a href="http://nvie.com/posts/a-successful-git-branching-model/">gitflow</a>), so you might want to develop against that.</p>
                <p>
                    Before we can integrate your change, we need you to sign the <a href="https://gist.github.com/team-unic/87eb314100370fcddf06">individual contributor license agreement</a> (Done automatically via https://cla-assistant.io/),
                    or the <a href="assets/documents/CLA-corporate.pdf">corporate license agreement</a>, if you contribute as a member of an organization. This
                    is crucial to keep our stuff IP-clean - thank you!
                </p>
            </section>
            <section>
                <header><h3>Becoming a committer</h3></header>
                <p>
                    If you have knowledge of both Spring and Sling and would like to join, you are more than welcome
                    as a committer. Usually, you start of by making a couple of pull requests to show your expertise - then, the
                    existing committers will vote on the decision.
                </p>
            </section>
            <section>
                <header><h3>Development quick facts</h3></header>
                <p>
                    NEBA is written in JAVA, based on JAVA 8. We're on <a href="https://github.com/unic/neba/">GitHub</a>, and use <a href="https://travis-ci.org/unic/neba">Travis CI</a>.
                    We've got a clean and well-written base of 500+ <a href="http://junit.org/">JUnit</a> and <a href="http://mockito.org/">Mockito</a>
                    based tests covering <a href="https://codecov.io/gh/unic/neba"><img src="https://codecov.io/gh/unic/neba/branch/develop/graph/badge.svg" alt="Codecov" style="vertical-align: middle" /></a>
                    of the code - so we dare make changes, all the time. We are using <a href="http://nvie.com/posts/a-successful-git-branching-model/">git flow</a>,
                    and currently, the builds are <a href="https://travis-ci.org/unic/neba"><img src="https://travis-ci.org/unic/neba.svg?branch=develop" alt="Travis CI build status" style="vertical-align: middle" /></a>.
                </p>
            </section>
        </section>
</main>

{% include footer.ext %}

</body>
</html>
