---
pageTitle: NEBA Community
title: Community
twitterAuthor: nebaframework
description: Getting involved and getting support for NEBA
---
<!DOCTYPE HTML>
<html lang="en">
{% include head.ext %}
<body>
{% include header.ext %}
<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="12u">
                <section>
                    <ul class="default">
                        <li><a href="#contributing">Contributing to NEBA</a></li>
                        <li><a href="#support">Getting support</a></li>
                    </ul>
                </section>
            </div>
        </div>

        <!-- Content -->
        <div id="content">

            <section>
                <header><h2 id="contributing">Contributing</h2></header>

                <section>
                    <header><h3>Features, bugs and other issues</h3></header>
                    <p>NEBA welcomes contribution of any form at any time. If want to report a bug,
                        request a feature or change, just <a href="https://github.com/unic/neba/issues">create an issue</a> - a responsible
                        committer will get to it.</p>
                </section>
                <section>
                    <header><h3>Contributing source code</h3></header>
                    <p>
                        If you would like to contribute code, we're looking forward to your <a href="https://github.com/unic/neba/pulls">pull request</a>.
                        Note: The <a href="https://github.com/unic/neba/tree/develop">primary development branch is "develop"</a> (we use <a href="http://nvie.com/posts/a-successful-git-branching-model/">gitflow</a>), so you might want to develop against that.</p>
                    <p>
                        Before we can integrate your change, we need you to sign the <a href="assets/contributing/CLA-indiv.pdf">individual contributor license agreement</a>
                        and the <a href="assets/contributing/CLA-corporate.pdf">corporate license agreement</a>, if you contribute as a member of an organization. This
                        is crucial to keep our stuff IP-clean - thank you!
                    </p>
                </section>
                <section>
                    <header><h3>Becoming a committer</h3></header>
                    <p>
                        If you have knowledge of both Spring and Sling and would like to join, you are more than welcome
                        as a committer. Usually, you start of by making a couple of pull requests to show your expertise - then, the
                        existing committers will vote on the decision.
                    </p>
                </section>
                <section>
                    <header><h3>Development quick facts</h3></header>
                    <p>
                        NEBA is written in JAVA, based on JAVA 8. We're on <a href="https://github.com/unic/neba/">GitHub</a>, and use <a href="https://travis-ci.org/unic/neba">Travis CI</a>.
                        We've got a clean and well-written base of 500+ <a href="http://junit.org/">JUnit</a> and <a href="http://mockito.org/">Mockito</a>
                        based tests covering <a href='https://coveralls.io/github/unic/neba?branch=master'><img src='https://coveralls.io/repos/github/unic/neba/badge.svg?branch=master' alt='Coverage Status' style="vertical-align: middle"/></a>
                        of the code - so we dare make changes, all the time. We are using <a href="http://nvie.com/posts/a-successful-git-branching-model/">git flow</a>,
                        and currently, the builds are <a href="https://travis-ci.org/unic/neba"><img src="https://travis-ci.org/unic/neba.svg?branch=develop" title="Travis CI build status" style="vertical-align: middle" /></a>.
                    </p>
                </section>
            </section>

            <section>
                <header><h2 id="support">Getting support</h2></header>

                <section>
                    <header><h3>Get your questions answered, quickly</h3></header>
                    <p>
                        There are a great number of options to quickly have your questions answered: Start a discussion in the comment section of a suitable page,
                        <a href="https://github.com/unic/neba/issues">file an issue</a>, ask a question on <a href="http://stackoverflow.com">Stack overflow</a>, <a href="https://twitter.com/nebaframework">Tweet to @nebaframework</a> - or simply
                        drop us a mail at <a href="mailto:neba@unic.com">neba@unic.com</a>.
                    </p>
                </section>

                <section>
                    <header><h3>Professional support</h3></header>
                    <p>
                        We're glad to help out: Feel free to contact us at:
                    </p>
                    <p>
                        <strong>Unic AG</strong><br />
                        Belpstrasse 48, 3007 Bern, Switzerland<br />
                        <strong>Telephone</strong>: +41 31 560 12 12<br />
                        <strong>Fax</strong>: +41 31 560 12 13
                    </p>
                </section>
            </section>

            {% include disqus.ext %}
        </div>
    </div>
</div>
<!-- /Main -->

{% include footer.ext %}
</body>
</html>