---
pageTitle: NEBA documentation
title: Documentation
twitterAuthor: nebaframework
description: A comprehensive guide to using the NEBA features
---
<!DOCTYPE HTML>
<html lang="en">
{% include head.ext %}
<body>
{% include header.ext %}
<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div id="sidebar">
                <div class="row">
                    <div class="3u">
                        <section>
                            <header>
                                <h2>Getting started</h2>
                            </header>
                            <ul class="default">
                                <li><a href="#download_and_integrate">Downloading and integrating NEBA</a></li>
                                <li><a href="#add_osgi_blueprint_context">Adding an OSGi blueprint context</a></li>
                                <li><a href="#sample_project">Explore the sample project</a></li>
                            </ul>
                        </section>
                        <section>
                            <header>
                                <h2>Writing @ResourceModels</h2>
                            </header>
                            <ul class="default">
                                <li><a href="#about_resource_models">Resources, resource types and resource models</a></li>
                                <li><a href="#using_models_in_views">Using models in views</a></li>
                                <li><a href="#mapping_resources_to_models">Mapping properties and resources to models</a></li>
                                <li><a href="#resource_model_annotations">Annotations for resource to model mapping</a></li>
                                <li><a href="#lazy_loading">Lazy loading</a></li>
                                <li><a href="#the_premapping_and_postmapping_annotations">Performing additional initializations</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="3u">
                        <section>
                            <header>
                                <h2>Using Spring MVC in Sling</h2>
                            </header>
                            <ul class="default">
                                <li><a href="#spring_mvc">Spring controller basics</a></li>
                                <li><a href="#mvc_resourceparam_annotation">Resolving resource parameters with the @ResourceParam annotation</a></li>
                                <li><a href="#mvc_sling_views">Using sling Scripts as controller views</a></li>
                                <li><a href="#configuring_mvc_logging">Configuring logging for MVC</a></li>
                            </ul>
                        </section>
                        <section>
                            <header>
                                <h2>Tooling for developers and administrators</h2>
                            </header>
                            <ul class="default">
                                <li><a href="#tooling_modelregistry">The model registry</a></li>
                                <li><a href="#tooling_modelstatistics">The model statistics</a></li>
                                <li><a href="#tooling_logviewer">The log viewer</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="3u">
                        <section>
                            <header>
                                <h2>API documentation</h2>
                            </header>
                            <ul class="default">
                                <li><a href="apidocs/neba-api/index.html">NEBA API javadoc <span class="pennant"><span class="fa fa-external-link"></span></span></a></li>
                                <li><a href="apidocs/neba-core/index.html">NEBA core javadoc <span class="pennant"><span class="fa fa-external-link"></span></span></a></li>
                            </ul>
                        </section>
                        <section>
                            <header>
                                <h2>The Architecture of NEBA</h2>
                            </header>
                            <ul class="default">
                                <li><a href="#architecture_containerview">Container view</a></li>
                                <li><a href="#architecture_modules">Modules view</a></li>
                                <li><a href="#architecture_corepackages">Core packages view</a></li>
                                <li><a href="#architecture_postprocessing">Application context post-processing</a></li>
                                <li><a href="#architecture_modelregistration">Resource model registration and adapter factory provisioning</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="3u">
                        <section id="stackoverflow">
                            <header>
                                <h2><span class="pennant"><span class="fa fa-stack-overflow"></span></span> Stack Overflow</h2>
                            </header>
                            <script>
                                $(function() {
                                    function isTaggedWith (item, tags) {
                                        for (var i = 0; i < tags.length; i++) {
                                            if (item.tags.indexOf(tags[i]) != -1) {
                                                return true;
                                            }
                                        }
                                        return false;
                                    }

                                    $.get("https://api.stackexchange.com/2.2/search/advanced?order=desc&sort=activity&body=NEBA&site=stackoverflow", function(data) {
                                        var $list = $('<ul class="style"></ul>');
                                        data.items.forEach(function(item) {
                                            // The tag search of the stack overflow search api is broken, thus we're filtering the results manually.
                                            if (!isTaggedWith(item, ["aem", "aem-6", "spring", "spring-mvc", "sling", "cq", "cq5"])) {
                                                return;
                                            }
                                            $list.append('<li>' +
                                                    '<p class="posted">'
                                                    + new Date(parseInt(item.creation_date) * 1000).toLocaleDateString() +
                                                    ' | ' + item.answer_count + (parseInt(item.answer_count) == 1 ? 'Answer' : 'Answers') +
                                                    '</p>' +
                                                    '<p>' +
                                                    '<a href="' + item.link + '">' + item.title + '</a>' +
                                                    '</p>' +
                                                    '</li>');

                                        });
                                        $("#stackoverflow").append($list);
                                    })
                                });
                            </script>
                        </section>
                        <section>
                            <header>
                                <h2>Other Documentation Versions</h2>
                            </header>
                            <ul class="versions">
                                <li><a class="active" href="documentation.html">NEBA 4.0.0</a></li>
                                <li><a href="old/userguide.html">NEBA 3.10.0</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- /Sidebar -->

            <!-- Content -->
            <div id="content">
                {% include documentation/getting_started.ext %}
                {% include documentation/writing_resource_models.ext %}
                {% include documentation/using_spring_mvc.ext %}
                {% include documentation/tooling.ext %}
                {% include documentation/web_specific_bean_scopes.ext %}
                {% include documentation/extending.ext %}
                {% include documentation/architecture.ext %}

                {% include disqus.ext %}
			</div>
            <!-- /Content -->

		</div>
    </div>
</div>
<!-- /Main -->

{% include footer.ext %}

</body>
</html>