---
title: Download NEBA
twitterAuthor: nebaframework
description: Download and integrate NEBA into Apache Sling or Adobe AEM
---
<!doctype html>
<html lang="en-US">
{% include head.ext %}

<body class="download">

{% include navigation.ext %}

<main>
    <section>
        <header>
            <h1>Download NEBA</h1>
        </header>
        <p>
            NEBA is available in two distributions, the core distribution, featuring all of NEBA's resource-to-object mapping and tooling, and
            the spring distribution which contains the core distribution and the optional spring integration along with all spring bundles.
            If you are getting started and do not plan to use Spring MVC, <em>we recommend using the core distribution</em>. Both distributions are available via maven central.
        </p>

        <nav title="Available distributions" >
            <section>
                <header>
                    <h2>Contents</h2>
                </header>
                <ul>
                    <li><a href="#aem-core-dependencies">Dependencies for Adobe AEM&trade; when using the core distribution</a></li>
                    <li><a href="#aem-spring-dependencies">Dependencies for Adobe AEM&trade; when using Spring</a></li>
                    <li><a href="#sling-dependencies">Dependencies for Apache Sling</a></li>
                    <li><a href="#content-package-maven-plugin">Using the content-package-maven-plugin do deploy NEBA</a></li>
                    <li><a href="#download">Download NEBA</a></li>
                </ul>
            </section>
        </nav>

        <section>
            <header><h2 id="using-maven">Using Maven</h2></header>

            <p>Using maven, all you need to do is include the API for your developers to use, and either the core or the spring installation packages to install NEBA in your Sling or AEM instance.</p>
         <section class="up-to-two-columns">
             <header>
                 <h3 id="aem-core-dependencies">Dependencies for Adobe AEM&trade; when using the core distribution without spring</h3>
             </header>
             <section>
                 <header><h4>APIs for development</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-api</artifactId>
    <version>{{site.nebaVersion}}</version>
    <scope>provided</scope>
</dependency>
{% endhighlight %}
             </section>
             <section>
                 <header><h4>Installation package</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-delivery-aem</artifactId>
    <version>{{site.nebaVersion}}</version>
    <type>zip</type>
</dependency>{% endhighlight %}
             </section>

         </section>


         <section class="up-to-two-columns">
             <header>
                 <h3 id="aem-spring-dependencies">Dependencies for Adobe AEM&trade; when using Spring (this also contains the core distribution)</h3>
             </header>
             <section>
                 <header><h4>APIs for development</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-api</artifactId>
    <version>{{site.nebaVersion}}</version>
    <scope>provided</scope>
</dependency>
 <dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-spring</artifactId>
    <version>{{site.nebaVersion}}</version>
    <scope>provided</scope>
</dependency>
<dependency>
    <groupId>org.eclipse.gemini.blueprint</groupId>
    <artifactId>gemini-blueprint-extensions</artifactId>
    <version>{{site.geminiVersion}}</version>
    <scope>provided</scope>
</dependency>
{% endhighlight %}
             </section>
             <section>
                 <header><h4>Installation package</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-delivery-aem</artifactId>
    <version>{{site.nebaVersion}}</version>
    <classifier>spring</classifier>
    <type>zip</type>
</dependency>{% endhighlight %}
             </section>

         </section>

            <section>
                <header>
                    <h3 id="sling-dependencies">Installation in Apache Sling</h3>
                </header>
                <p>For Apache Sling, use the same API dependencies as for Adobe AEM&trade; along with the following installation packages:</p>

             <section>
                 <header><h4>Installation package for the core distribution</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-delivery-sling</artifactId>
    <version>{{site.nebaVersion}}</version>
</dependency>{% endhighlight %}
             </section>

             <section>
                 <header><h4>Installation package for the spring distribution</h4></header>
            {% highlight xml %}<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-delivery-sling</artifactId>
    <version>{{site.nebaVersion}}</version>
    <classifier>spring</classifier>
</dependency>{% endhighlight %}
             </section>
            </section>
    </section>

    <section>
        <header>
            <h2 id="content-package-maven-plugin">Installing NEBA using the Content-Package-Maven plugin</h2>
        </header>
            <p>
                In order to <a href="https://helpx.adobe.com/experience-manager/6-4/sites/developing/using/vlt-mavenplugin.html#install">install NEBA using the Content Package Maven Plugin</a> you may do:</p>
            <p>
            {% highlight xml %}<plugin>
    <groupId>com.day.jcr.vault</groupId>
    <artifactId>content-package-maven-plugin</artifactId>
    <version>1.0.2</version>
    <configuration>
        <groupId>io.neba</groupId>
        <artifactId>io.neba.neba-delivery-aem</artifactId>
        <version>{{site.nebaVersion}}</version>
        <packaging>zip</packaging>
        <targetURL>http://localhost:4502/crx/packmgr/service.jsp</targetURL>
    </configuration>
</plugin>{% endhighlight %}
            </p>

        </section>

        <section>
            <header>
                <h2 id="download">Download NEBA</h2>
            </header>
            <section class="up-to-two-columns">
                <header>
                    <h3 id="core">NEBA core</h3>
                    <p>The NEBA core contains all of NEBA's features, except for the Spring integration, which is shipped separately (see below)</p>
                </header>
                <section>
                    <header><h4>Core CRX delivery package for Adobe AEM&#8482;</h4></header>

                    <p>The following ZIP file is a CRX package containing the NEBA core and API bundles.</p>

                    <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-aem&v={{site.nebaVersion}}&p=zip"
                       class="action">Download the AEM&#8482; package for NEBA core {{site.nebaVersion}}</a>
                </section>

                <section>
                    <header><h4>Core bundle delivery package for Apache Sling</h4></header>

                    <p>The following JAR file is an OSGi bundle installing the NEBA core and API bundles. Installing and activating this bundle installs these bundles. Uninstalling the
                        delivery bundle uninstalls NEBA as well.</p>

                    <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-sling&v={{site.nebaVersion}}&p=jar"
                       class="action">Download the Sling delivery bundle for NEBA core {{site.nebaVersion}}</a>
                </section>
            </section>


            <section class="up-to-two-columns">
                <header>
                    <h3 id="spring-integration">NEBA Spring integration</h3>
                    <p>The NEBA spring integration contains NEBA core (see above) and includes the neba-spring module along with all of the required Spring OSGi bundles and the gemini-blueprint bundles.</p>
                </header>
                <section>
                    <header><h4>Spring integration CRX delivery package for Adobe AEM&#8482;</h4></header>

                    <p>The following ZIP file is a CRX package containing both NEBA core, NEBA Spring and the runtime dependencies not provided by
                        Sling, e.g. Spring and Gemini Blueprint.</p>

                    <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-aem&v={{site.nebaVersion}}&p=zip&c=spring"
                       class="action">Download the AEM&#8482; package for NEBA Spring {{site.nebaVersion}}</a>
                </section>

                <section>
                    <header><h4>Spring integration bundle delivery package for Apache Sling</h4></header>

                    <p>The following JAR file is an OSGi bundle installing both NEBA core, NEBA spring and the runtime dependencies not provided
                        by Sling, e.g. Spring and Gemini Blueprint. Installing and activating this bundle installs NEBA and its runtime dependencies. Uninstalling the
                        delivery bundle uninstalls NEBA as well.</p>

                    <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-sling&v={{site.nebaVersion}}&p=jar&c=spring"
                       class="action">Download the Sling delivery bundle for NEBA Spring {{site.nebaVersion}}</a>
                </section>
            </section>

        </section>
    </section>
</main>

{% include footer.ext %}
</body>
</html>
