---
pageTitle: Download NEBA
title: Download NEBA
twitterAuthor: nebaframework
description: Download and integrate NEBA in a maven build
---
<!DOCTYPE HTML>
<html lang="en">
{% include head.ext %}
<body>
{% include header.ext %}
<!-- Main -->
<div id="main">
    <div class="container">
        <!-- Content -->
        <div id="content">

<section>
    <header><h3 id="installation">Installation in Adobe AEM&#8482;</h3></header>

    <p>The following ZIP file is a CRX package containing both NEBA and the runtime dependencies not provided by Sling,
    e.g. Spring and Gemini Blueprint.</p>

    <p>
        <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-aem&v={{site.nebaVersion}}&p=zip" class="button button-style1">Download the AEM&#8482; package for NEBA {{site.nebaVersion}}</a>
    </p>
</section>

<section>
    <header><h3>Installation in Apache Sling</h3></header>

    <p>The following JAR file is an OSGi bundle installing both NEBA and the runtime dependencies not provided by Sling,
        e.g. Spring and Gemini Blueprint.</p>
    <p>
        <a href="https://oss.sonatype.org/service/local/artifact/maven/redirect?r={%if site.nebaVersion contains 'SNAPSHOT'%}snapshots{% else %}releases{% endif %}&g=io.neba&a=io.neba.neba-delivery-sling&v={{site.nebaVersion}}&p=jar" class="button button-style1">Download the Sling delivery bundle for NEBA {{site.nebaVersion}}</a>
    </p>

    <p>Installing and activating this bundle installs NEBA and its runtime dependencies. Uninstalling the delivery bundle uninstalls NEBA as well.</p>
</section>

<section>
    <header><h3 id="integration">Using Maven</h3></header>

    <p>NEBA is built using Maven. Core, API and delivery packages containing NEBA and it's runtime dependencies are available from maven central.
        For developing with NEBA, including the API in your project is all you need to do:</p>
<p>
{% highlight xml %}
<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-api</artifactId>
    <version>{{site.nebaVersion}}</version>
</dependency>
{% endhighlight %}
</p>

<p>If you'd also like to browse or debug the core, add it to your project's dependencies like so:</p>
<p>
{% highlight xml %}
<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-core</artifactId>
    <version>{{site.nebaVersion}}</version>
</dependency>
{% endhighlight %}
</p>

<p>The convenience CRX deployment package for AEM can be referenced like so:</p>

<p>
{% highlight xml %}
<dependency>
    <groupId>io.neba</groupId>
    <artifactId>io.neba.neba-delivery-aem</artifactId>
    <version>{{site.nebaVersion}}</version>
    <type>zip</type>
</dependency>
{% endhighlight %}
</p>

<p>Or the Sling deployment bundle like so:</p>

<p>
    {% highlight xml %}
    <dependency>
        <groupId>io.neba</groupId>
        <artifactId>io.neba.neba-delivery-sling</artifactId>
        <version>{{site.nebaVersion}}</version>
    </dependency>
    {% endhighlight %}
</p>

<p>Finally, in order to <a href="https://docs.adobe.com/docs/en/aem/6-2/develop/dev-tools/vlt-mavenplugin.html#install">install NEBA using the Content Package Maven Plugin</a> you may do:</p>

<p>
{% highlight xml %}
<plugin>
    <groupId>com.day.jcr.vault</groupId>
    <artifactId>content-package-maven-plugin</artifactId>
    <version>0.0.24</version>
    <configuration>
        <groupId>io.neba</groupId>
        <artifactId>io.neba.neba-delivery-aem</artifactId>
        <version>{{site.nebaVersion}}</version>
        <packaging>zip</packaging>
        <targetURL>http://localhost:4502/crx/packmgr/service.jsp</targetURL>
    </configuration>
</plugin>
{% endhighlight %}
</p>

</section>
    </div>
</div>
    </div>
{% include footer.ext %}
</body>
</html>