<!doctype html>
<html lang="en-US">
{% include head.ext %}

<body class="post">

{% include navigation.ext %}

<main>
    {{content}}

    <aside class="up-to-three-columns">
        <header><h2>Related posts</h2></header>
        {% for post in site.posts %}
        <section>
            <header><h3>{{ post.title }}</h3></header>
            <p><a href="{{post.url}}">{{post.description}}</a></p>
        </section>
        {% endfor %}
    </aside>
</main>

{% include footer.ext %}

<script src="/js/releasenotes.js" async="async"></script>
</body>
</html>
