---
pageTitle: NEBA architecture
title: Architecture
twitterAuthor: nebaframework
description: A documentation of the key architecture concepts and feature implemementations of NEBA 3.10.0
---
<!DOCTYPE HTML>
<html lang="en">
{% include /archive/3.x/head.ext %}
<body>
{% include /archive/3.x/header.ext %}
<!--Main-->
<div id="main">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div id="content">
                {% include /archive/3.x/architecture/about.ext %}
                {% include /archive/3.x/architecture/toc.ext %}
                {% include /archive/3.x/architecture/container_view.ext %}
                {% include /archive/3.x/architecture/models_view.ext %}
                {% include /archive/3.x/architecture/core_packages_view.ext %}
                {% include /archive/3.x/architecture/post_processing.ext %}
                {% include /archive/3.x/architecture/resource_model_registration.ext %}

                {% include disqus.ext %}
            </div>
            <!--/Content-->

        </div>
    </div>
</div>
<!--/Main-->

{% include footer.ext %}

</body>
</html>